<p> Hello there</p>
<div class = "vertical-center" >
  <img src = "../images/sun.gif" alt= "sun-gif" class = "sun">
 
  {{#each planets}}
  <a href=  #> <img src = "{{images}}" alt= "planet-img" class = "planet {{planet}}"></a>

  {{/each}}
</div>

